<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065961119274-4blnu222u4c89k2ne8fqf30h0pcak7cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065961119274-4blnu222u4c89k2ne8fqf30h0pcak7cc</string>
	<key>API_KEY</key>
	<string>AIzaSyDrZ3DdA2FcsJN4NsIQnh_wQ-bOlCTTntw</string>
	<key>GCM_SENDER_ID</key>
	<string>1065961119274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationCourse</string>
	<key>PROJECT_ID</key>
	<string>notifayan</string>
	<key>STORAGE_BUCKET</key>
	<string>notifayan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065961119274:ios:2f6e73a9011b2202f92d53</string>
</dict>
</plist>